{% extends 'flatpages/default.html' %}\

{% load my_filters %}

{% block title %}
Публикации
{% endblock title %}

{% block content %}
    <h1>Все публикации в категории "{{category.name}}" ({{categories|length}})</h1>
    {% if is_not_subscriber %}
        <a href="{% url 'subscribe' category.id %}">Подписаться</a>
    {% endif %}
    {% if is_subscriber %}
        <a href="{% url 'unsubscribe' category.id %}">Отписаться</a>
    {% endif %}
    <hr>
    {% if categories %}
        <ul>
            {% for post in categories %}
                <li>
                    <h3>{{ post.header|censor }}</h3>
                    <p>{{ post.time_create|date:'d M Y' }}</p>
                    <p>{{ post.text|truncatechars:20|censor }}</p>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Публикаций нет</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}